/* VARIABLES */
:root {
  --red-500: hsl(14, 86%, 42%);
  --green-500: hsl(159, 69%, 38%);

  --rose-50: hsl(20, 50%, 98%);
  --rose-100: hsl(13, 31%, 94%);
  --rose-300: hsl(14, 25%, 72%);
  --rose-400: hsl(7, 20%, 60%);
  --rose-500: hsl(12, 20%, 44%);
  --rose-900: hsl(14, 65%, 9%);
}

/* FONTS */

@font-face {
  font-family: "Red Hat Text";
  src: url("../assets/fonts/Red_Hat_Text/RedHatText-VariableFont_wght.ttf");
}

/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
/* BASIC */

body {
  font-family: "Red Hat Text";
  font-size: 16px;
  background-color: var(--rose-50);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1em;
}
/* MENU SECTION */
.menu-section {
  padding: 1em;
}
.menu-header {
  color: var(--rose-900);
  font-size: 2em;
  margin-bottom: 1em;
}
.menu-items-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
}
.menu-item {
  width: 350px;
  margin: auto;
}
.menu-item picture img {
  width: 100%;
  border-radius: 0.5em;
}
.add-remove-btns-container {
  display: flex;
  justify-content: center;
  margin: -2em 1em 1em 1em;
}
.add-to-the-cart-btn {
  width: 200px;
  padding: 1em 0;
  display: none;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--red-500);
  border-radius: 2em;
  color: var(--rose-900);
  font-weight: 700;
  background-color: white;
}
.add-to-the-cart-btn img {
  margin-right: 1em;
}
.plus-minus-btns {
  width: 200px;
  padding: 1em 0;
  display: none;
  justify-content: space-around;
  align-items: center;
  border: 1px solid var(--red-500);
  border-radius: 2em;
  color: white;
  background-color: var(--red-500);
}
.minus-btn,
.plus-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid white;
}
.active {
  display: flex;
}
.category {
  color: var(--rose-500);
}
.name-of-dish {
  color: var(--rose-900);
}
.item-price {
  color: var(--red-500);
  font-weight: 700;
}
/* CART SECTION */
.cart-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.cart-box {
  background-color: white;
  border-radius: 0.5em;
  padding: 1em;
  position: static;
  margin: 1em;
  overflow-y: auto;
  max-height: 100vh;
}
.empty-cart {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart--not-empty {
  width: 300px;
}
.cart__header {
  color: var(--red-500);
  margin-bottom: 1em;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}
hr {
  margin-bottom: 1em;
}

.cart-item__name {
  color: var(--rose-900);
  font-weight: 700;
}
.cart-item__amount {
  color: var(--red-500);
  margin-right: 1em;
  font-weight: 700;
}
.cart-item__price {
  color: var(--rose-500);
  margin-right: 1em;
}
.cart-item__total-price {
  color: var(--rose-500);
  font-weight: 700;
}
.cart-item__remove-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--rose-500);
}
.hide {
  display: none;
}

.info-about-total-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.delivery-info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--rose-100);
  padding: 1em;
  border-radius: 0.5em;
  margin-bottom: 1em;
}
.confirm-btn {
  background-color: var(--red-500);
  border: none;
  border-radius: 2em;
  padding: 1em;
  width: 100%;
  color: var(--rose-50);
  font-weight: 500;
  font-size: 1em;
}
/* STYLES FOR TABLET */
@media screen and (min-width: 800px) {
  main {
    flex-direction: row;
  }
  .empty-cart {
    width: 400px;
  }
  .cart--not-empty {
    width: 400px;
  }
  .cart-section {
    width: 400px;
    padding: 1em;
  }
  .cart-box {
    background-color: white;
    border-radius: 0.5em;
    padding: 1em;
    position: fixed;
    top: 0;
  }
}
/* STYLES FOR DESKTOP */
@media screen and (min-width: 1200px) {
  .menu-items-container {
    grid-template-columns: 1fr 1fr;
  }
  .menu-item {
    width: 300px;
  }
  .active {
    display: flex;
  }
  .empty-cart {
    width: 400px;
  }
  .cart--not-empty {
    width: 400px;
  }
  .cart-section {
    width: 400px;
    padding: 1em;
  }
  .hide {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .menu-items-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
  }
  .empty-cart {
    width: 350px;
  }
  .cart--not-empty {
    width: 350px;
  }
}
