/* VARIABLES */
:root {
  --body-bg: hsl(13, 31%, 94%);
  --cart-bg: hsl(20, 50%, 98%);
  --darkest-rose: hsl(14, 65%, 9%);
  --dark-brown: hsl(12, 20%, 44%);
  --red: hsl(14, 86%, 42%);
  --green: hsl(159, 69%, 38%);
}

/* FONTS */
@font-face {
  font-family: "Red Hat Text";
  src: url("/assets/fonts/Red_Hat_Text/RedHatText-VariableFont_wght.ttf");
}

/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button {
  border: none;
  background-color: transparent;
}

/* BASIC STYLES */
body {
  font-family: "Red Hat Text";
  font-size: 16px;
  background-color: var(--body-bg);
}
main {
  display: flex;
  flex-direction: column;
  margin: 2em;
  gap: 3em;
}
.error-message {
  color: var(--red);
  font-weight: 700;
}
.menu-section {
}
.menu-section-header {
  margin-bottom: 1em;
  color: var(--darkest-rose);
  font-size: 2em;
  font-weight: 700;
}
.menu-items-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}
.menu-item {
  max-width: 350px;
}
.menu-item-image-container {
  position: relative;
  z-index: 1;
  margin-bottom: 1em;
}
.menu-item-image-container picture {
  width: 350px;
}
.menu-item-image-container picture source,
.menu-item-image-container picture img {
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
}

.menu-item-btn-container {
  display: block;
  position: absolute;
  z-index: 2;
  bottom: -1em;
  left: 25%;
}

.counter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--red);
  width: 150px;
  padding: 0.75em 1em;
  border-radius: 2em;
}

.counter .minus-btn,
.counter .plus-btn {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  color: wheat;
  cursor: pointer;
}
.add-to-cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75em 1.5em;
  border: 1px solid black;
  background-color: white;
  border-radius: 2em;
  font-weight: 700;
  cursor: pointer;
}

.add-to-cart-btn img {
  margin-right: 0.5em;
}
.make-disable-btn {
  display: none;
}
.menu-item-info-container {
}
.type-of-dessert {
}
.name-of-item {
  font-size: 1em;
  color: var(--darkest-rose);
}
.menu-item-price {
  color: var(--dark-brown);
  font-weight: 700;
}
/* CART SECTION */
.cart-section {
  width: 350px;
  position: relative;
}
.cart {
  border-radius: 0.5em;
  padding: 1.5em;
  background-color: var(--cart-bg);
  width: inherit;
  height: fit-content;
}

.cart-header {
  margin-bottom: 1em;
  color: var(--red);
  font-weight: 700;
}
.defolt-bg-for-empty-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-empty-cart {
  display: flex;
  flex-direction: column;
}

.list-of-added-items {
  display: flex;
  flex-direction: column;
}
.added-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}
.item-info {
}
.amoumt-of-items {
  color: var(--red);
  font-weight: 600;
  margin-right: 1em;
}
.price-for-one-item {
  margin-right: 1em;
}
.price-for-all-items {
  margin-right: 1em;
}
.delete-from-cart-container {
}
.delete-from-cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;

  border-radius: 50%;
  border: 1px solid black;
}
.total-price-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.message-about-delivery {
  background-color: var(--body-bg);
  padding: 1em 0;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  border-radius: 0.5em;
}
.confirm-order-btn {
  background-color: var(--red);
  color: var(--cart-bg);
  padding: 1em 0;
  border-radius: 2em;
}
.unactive {
  display: none;
}
/* TABLET STYLES */
@media screen and (min-width: 768px) {
  main {
    flex-direction: row;
  }
  .menu-items-container {
    grid-template-columns: 1fr;
  }
  .cart {
    position: fixed;
  }
}
/* DESCTOP STYLES */
@media screen and (min-width: 1024px) {
  .menu-items-container {
    grid-template-columns: 1fr 1fr;
  }
  .cart {
    position: fixed;
  }
}
@media screen and (min-width: 1440px) {
  .menu-items-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
